<!-- components/navbar.html -->
<link rel="stylesheet" href="../css/components/navbar.css" />
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-white px-4 fixed-top">


  <a class="navbar-brand text-black" href="#"></a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link active text-muted animated-underlined" href="../index.html"
          >Beranda</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-muted animated-underlined" href="../about.html">Tentang</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-muted animated-underlined" href="../contact.html">Kontak</a>
      </li>
    </ul>
  </div>
</nav>
