.animated-underlined {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  
  .animated-underlined::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color:  #ffc107;  /* ikut warna teks */
    transition: width 0.3s ease-in-out;
  }
  
  .animated-underlined:hover::after {
    width: 100%;
  }
  
  #navbar {
  transition: all 0.3s ease;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

#navbar.shrink {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#navbar .navbar-brand {
  font-size: 1.5rem;
  transition: font-size 0.3s ease;
}

#navbar.shrink .navbar-brand {
  font-size: 1.2rem;
}
